* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  text-align: center;
}

h1 {
  color: #FFFFFF;
  font-family: 'Satisfy', cursive;
  margin-bottom: 10px;
}

img {
  border: 10px solid #FFFFFF;
  border-radius: 10px;
  width: 45%;
}


.carousel-content {
  display: none;
}

.carousel-content.active {
  display: block;
}

.control {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  height: 20px;
  margin: 10px;
  width: 20px;
}

.previous, .next {
  color: #FFFFFF;
  margin: 10px 30px;
}

.control:hover, .previous:hover, .next:hover {
  background: #800080;
  border: 1px solid #800080;
}
